/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/10/2020, 09:52:27 PM
    Author     : Windows 10
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: arial;
}

.form-login{
    width: 400px;
    height: 340px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 180px;
    box-shadow:  7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}

.form-login h5{
    margin:0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    
}

.controls{
     width:100%;
     border: 1px solid #017bab;
     margin-bottom: 15px ;
     padding:  11px 10px;
     background: white;
     font-size: 14px;
     font-weight: bold;
}

.buttoms{
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
}